@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
   background-color: #505359;
   min-height: 100%;
   margin: 0;
   padding: 0;
   font-family: Roboto, sans-serif;
   font-weight: 300;
}

i {
    color: red;
}

span {
    color: #ffffff;
}

#week_selector>span{
    color: #f4a4a4;
    font-size: 1.2em;
}
#stacked_chart_week {
    background-image: -webkit-linear-gradient(left, #FFD700, #FF8C00);
    background-image: -moz-linear-gradient(left, #FFD700, #FF8C00);
    background-image: -o-linear-gradient(left,#FFD700, #FF8C00);
    background-image:linear-gradient(to right, #FFD700, #FF8C00);
    border-radius: 10%;
    opacity: 0.8;
}

#customer_feedback_per_week {
    background-image: -webkit-linear-gradient(left, #FF00FF, #4B0082);
    background-image: -moz-linear-gradient(left, #FF00FF, #4B0082);
    background-image: -o-linear-gradient(left, #FF00FF, #4B0082);
    background-image:linear-gradient(to left, #FF00FF, #4B0082);
    border-radius: 10%;
    opacity: 0.8;
}

#customer_feedback_per_month{
    background-image: -webkit-linear-gradient(left, #ccff33, #4d6600);
    background-image: -moz-linear-gradient(left, #ccff33, #4d6600);
    background-image: -o-linear-gradient(left, #ccff33, #4d6600);
    background-image: linear-gradient(to left, #ccff33, #4d6600);
    border-radius: 10%;
    opacity: 0.8;
}

#average_rating_week {
    background-image: -webkit-linear-gradient(to left, #F5B7B1, #641E16);
    background-image: -moz-linear-gradient(left, #F5B7B1, #641E16);
    background-image: -o-linear-gradient(left, #F5B7B1, #641E16);
    background-image: linear-gradient(to left, #F5B7B1, #641E16);
    border-radius: 10%;
    opacity: 0.8;
}

#average_rating_month {
    background-image: -webkit-linear-gradient(to left, #ffbb33, #996600);
    background-image: -moz-linear-gradient(left, #ffbb33, #996600);
    background-image: -o-linear-gradient(left, #ffbb33, #996600);
    background-image: linear-gradient(to left, #ffbb33, #996600);
    border-radius: 10%;
    opacity: 0.8;
}













