html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
   background-color: /* #505359*/ #000;
   min-height: 100%;
   position: relative;
   margin: 0;
   padding: 0;
   
}
 
   /**body{
      
       
        background: url("img/frontend.jpg") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        z-index: -1;
   
}**/
section{
    margin: 0;
}

h1 {
    position: relative;
    margin-top: 10%;
    margin-left: 35%;
    color: #f2f2f4;
}
h1:hover {
    color: #e86410;
}

/**#customers-feedback {
    padding: 20px;
}**/

/****************************************MENU*********************************/
#nav {
    position: relative;
    margin-left: 32%;
}

li {
    font-size: 2em;
    list-style: none;
    text-decoration: none;
}
#nav > li > a {
    color: #000;
    text-decoration: none;
    background-color: #e86410;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#nav > li > a:hover {
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/***************************FOOTER*******************************************/
.footer {
    height: 100px;
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    background-color: #000;
    display: block;

}
.social-links > li > a > i:hover {
    color: /**#e86410;**/ black;
}

.footer > ul {
    margin-left: 80%;
}

.social-links > li > a > i{
     background-color: red;
     padding: 2px;
     text-align: center;
     width: 40px;
     border-radius: 50%;
     color: white;
}



























